---
layout: default
firstname: Kyle
lastname: Williams
title: Frontend React Developer
path: home
---

<div class="grid grid-cols-1 justify-items-center">
  <section
    class="container mx-auto lg:h-screen flex flex-col justify-center items-center"
  >
    <div>
      <h1 class="text-raisin-black">
        <strong class="md:block">{{firstname}}</strong>
        <strong class="md:block">{{lastname}}</strong>
        <strong class="block font-serif font-thin tracking-widest text-base"
          >{{title}}</strong
        >
      </h1>
      <div
        class="border-double w-36 text-center text-raisin-black mx-auto hidden md:block"
      >
        <a href="#projects">View My Projects</a>
      </div>
    </div>

    <img src="/static/img/kyle-profile-150w.jpeg" alt="Profile image" />

    <div
      class="border-8 border-double border-shamrock-green w-40 text-raisin-black text-center mx-auto mt-8 mb-2 p-0.5 md:hidden opacity-75 hover:shadow-lg hover:opacity-100"
    >
      <a href="#projects" class="focus:outline-none focus:text-cg-blue"
        >View My Projects</a
      >
    </div>
  </section>

  <div class="w-8 h-8 mb-28">
    <img
      src="/static/img/down-arrow-outlined.svg"
      class="animate-bounce"
      alt="Down arrow"
    />
  </div>

  <section id="projects" class="container flex flex-col justify-center gap-y-8">
    <h2
      class="w-1/2 mx-auto p-3 text-raisin-black text-2xl text-center border-b-2 shadow"
    >
      PROJECTS
    </h2>

    {% if portfolio.projects %} {% for project in portfolio.projects %}
    <div class="container w-full">
      <div
        class="w-full h-fit border p-4 mx-auto bg-local bg-cover bg-no-repeat"
        style="background-image: url({{project.image}});"
      >
        <div
          class="w-full bg-white bg-opacity-30 backdrop-filter backdrop-blur-sm rounded p-4"
        >
          <h3 class="text-center">{{project.title}}</h3>
          <p class="text-left">{{project.description}}</p>
          <div class="text-center mt-4 -mb-10 md:mb-4">
            <div class="opacity-60 md:hidden">
              <div
                class="transform translate-x-0 w-11/12 h-10 bg-goldenrod"
              ></div>
              <div
                class="transform translate-x-4 -translate-y-7 w-11/12 h-10 bg-shamrock-green"
              ></div>
              <div
                class="transform translate-x-8 -translate-y-12 w-11/12 h-10 bg-cg-blue"
              ></div>
            </div>
            <div
              class="transform -translate-y-28 md:transform-none text-cultured md:text-raisin-black text-lg"
            >
              <strong>
                <a
                  href="{{project.links.deployment}}"
                  class="hover:text-cg-blue underline"
                  >CHECK OUT DEPLOYMENT<br
                /></a>
                <a
                  href="{{project.links.github}}"
                  class="hover:text-cg-blue underline"
                  >REVIEW ON GITHUB</a
                >
              </strong>
            </div>
          </div>
          <!-- <div class="relative md:static text-center my-4">
            <div
              class="absolute md:hidden inset-x-8 bottom-6 w-11/12 h-10 bg-goldenrod"
            ></div>
            <div
              class="absolute md:hidden inset-x-4 bottom-3 w-11/12 h-10 bg-shamrock-green"
            ></div>
            <div
              class="absolute md:hidden inset-x-0 bottom-0 w-11/12 h-10 bg-cg-blue"
            ></div>
            <div class="relative md:static">
              <strong class="text-cultured md:text-raisin-black text-lg">
                <a
                  href="{{project.links.deployment}}"
                  class="hover:text-cg-blue underline"
                  >CHECK OUT DEPLOYMENT<br
                /></a>
                <a
                  href="{{project.links.github}}"
                  class="hover:text-cg-blue underline"
                  >REVIEW ON GITHUB</a
                >
              </strong>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    {% endfor%} {% endif %}
  </section>

  <section id="social">
    <p class="text-raisin-black text-lg">
      Want to learn more about my work? Check out my
      <a
        href="https://twitter.com/kylewcode"
        class="hover:text-cg-blue hover:underline font-semibold"
      >
        Twitter,</a
      >
      <a
        href="https://www.linkedin.com/in/85kylewilliams/"
        class="hover:text-cg-blue hover:underline font-semibold"
        >LinkedIn</a
      >
      profile, review my code on
      <a
        href="https://github.com/kylewcode"
        class="hover:text-cg-blue hover:underline font-semibold"
        >Github</a
      >, or read my
      <a
        href="https://dev.to/kylewcode"
        class="hover:text-cg-blue hover:underline font-semibold"
        >Blog.</a
      >
    </p>
  </section>

  <section id="skills" class="text-raisin-black text-center">
    <h2 class="text-2xl">SKILLS/TECH</h2>

    <h3 class="text-lg m-auto">Frontend Development</h3>

    <ul class="list-disc inline-block md:-ml-10 md:text-left">
      <li>React</li>
      <li>Javascript</li>
      <li>HTML5</li>
      ...
    </ul>
  </section>

  <section id="hire-me" class="text-raisin-black text-center">
    <h2 class="text-2xl">HIRE ME</h2>
    <a href="#" class="hover:text-cg-blue hover:underline font-semibold"
      >Download Resume
      <img
        src="https://source.unsplash.com/random/50x50"
        alt="Download Resume"
        class="inline"
      />
    </a>
    <a
      href="mailto:williams.kyleg@gmail.com"
      class="block hover:text-cg-blue hover:underline font-semibold"
      >williams.kyleg@gmail.com</a
    >
  </section>
</div>
