---
layout: default
firstname: Kyle
lastname: Williams
title: Frontend React Developer
path: home
---

<div class="grid grid-cols-1 justify-items-center">
  <section
    class="container mx-auto lg:h-screen flex flex-col justify-center items-center"
  >
    <div>
      <h1 class="text-raisin-black">
        <strong class="md:block">{{firstname}}</strong>
        <strong class="md:block">{{lastname}}</strong>
        <strong class="block font-serif font-thin tracking-widest text-base"
          >{{title}}</strong
        >
      </h1>
      <div
        class="border-double w-36 text-center text-raisin-black mx-auto hidden md:block"
      >
        <a href="#projects">View My Projects</a>
      </div>
    </div>

    <img src="/static/img/kyle-profile-150w.jpeg" alt="Profile image" />

    <div
      class="border-8 border-double border-shamrock-green w-40 text-raisin-black text-center mx-auto mt-8 mb-2 p-0.5 md:hidden opacity-75 hover:shadow-lg hover:opacity-100"
    >
      <a href="#projects" class="focus:outline-none focus:text-cg-blue"
        >View My Projects</a
      >
    </div>
  </section>

  <div class="w-8 h-8 mb-28">
    <img
      src="/static/img/down-arrow-outlined.svg"
      class="animate-bounce"
      alt="Down arrow"
    />
  </div>

  <section id="projects" class="container flex flex-col justify-center gap-y-8">
    <h2
      class="w-max mx-auto p-3 text-raisin-black text-2xl text-center border-b-2 shadow"
    >
      PROJECTS
    </h2>

    {% if portfolio.projects %} {% for project in portfolio.projects %}
    <div class="container w-full">
      <div
        class="w-full h-fit border p-4 mx-auto bg-local bg-cover bg-no-repeat"
        style="background-image: url({{project.image}});"
      >
        <div
          class="w-full bg-white bg-opacity-30 backdrop-filter backdrop-blur-sm rounded p-4"
        >
          <h3 class="text-center">{{project.title}}</h3>
          <p class="text-left">{{project.description}}</p>
          <div class="text-center mt-4 -mb-10 md:mb-4">
            <div class="opacity-60 md:hidden">
              <div
                class="transform translate-x-0 w-11/12 h-12 bg-goldenrod"
              ></div>
              <div
                class="transform translate-x-4 -translate-y-7 w-11/12 h-12 bg-shamrock-green"
              ></div>
              <div
                class="transform translate-x-8 -translate-y-12 w-11/12 h-12 bg-cg-blue"
              ></div>
            </div>
            <div
              class="transform -translate-y-28 md:transform-none text-cultured md:text-raisin-black text-lg"
            >
              <button
                type="button"
                class="block mx-auto transition duration-500 ease-in-out hover:font-extrabold hover:underline transform hover:-translate-y-1 hover:scale-125"
              >
                <a href="{{project.links.deployment}}" target="_blank"
                  >CHECK OUT DEPLOYMENT<br
                /></a>
              </button>
              <button
                type="button"
                class="block mx-auto transition duration-500 ease-in-out hover:font-extrabold hover:underline transform hover:-translate-y-1 hover:scale-125"
              >
                <a href="{{project.links.github}}" target="_blank"
                  >REVIEW ON GITHUB<br
                /></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor%} {% endif %}
  </section>

  <section id="social" class="mb-20">
    <p class="text-raisin-black text-lg p-7 mt-8">
      Want to learn more about my work? Check out my
      <a
        href="https://twitter.com/kylewcode"
        target="_blank"
        class="hover:text-cg-blue hover:underline font-semibold"
      >
        Twitter,</a
      >
      <a
        href="https://www.linkedin.com/in/85kylewilliams/"
        target="_blank"
        class="hover:text-cg-blue hover:underline font-semibold"
        >LinkedIn</a
      >
      profile, review my code on
      <a
        href="https://github.com/kylewcode"
        target="_blank"
        class="hover:text-cg-blue hover:underline font-semibold"
        >Github</a
      >, or read my
      <a
        href="https://dev.to/kylewcode"
        target="_blank"
        class="hover:text-cg-blue hover:underline font-semibold"
        >Blog.</a
      >
    </p>
    <div class="flex flex-row justify-center gap-x-8 items-center text-4xl">
      <a href="https://twitter.com/kylewcode" target="_blank">
        <span class="fab fa-twitter-square"></span>
      </a>
      <a href="https://www.linkedin.com/in/85kylewilliams/" target="_blank">
        <span class="fab fa-linkedin"></span>
      </a>
      <a href="https://github.com/kylewcode" target="_blank">
        <span class="fab fa-github-square"></span>
      </a>
      <a href="https://dev.to/kylewcode" target="_blank">
        <span class="fab fa-dev"></span>
      </a>
    </div>
  </section>

  <section
    id="skills"
    class="container flex flex-col justify-center text-raisin-black text-center mb-12"
  >
    <h2
      class="w-max mx-auto p-3 mb-8 text-raisin-black text-2xl border-b-2 shadow"
    >
      SKILLS/TECH
    </h2>

    {% if skills.titles %}
    <ul class="list-none inline-block md:-ml-10 md:text-left">
      {% for title in skills.titles %}
      <li><span class="fa fa-code"></span> {{title}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>

  <section
    id="certifications"
    class="container flex flex-col justify-center text-raisin-black text-center mb-12"
  >
    <h2
      class="w-max mx-auto p-3 mb-8 text-raisin-black text-2xl border-b-2 shadow"
    >
      CERTIFICATIONS
    </h2>

    {% if certifications.items %}
    <ul class="list-none inline-block md:-ml-10 md:text-left text-xl">
      {% for certification in certifications.items %}
      <li>
        <span class="fa fa-certificate"></span>
        <a
          href="{{certification.link}}"
          target="_blank"
          class="hover:text-cg-blue underline"
          >{{certification.title}}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>

  <section
    id="awards"
    class="container flex flex-col justify-center text-raisin-black text-center mb-12"
  >
    <h2
      class="w-max mx-auto p-3 mb-8 text-raisin-black text-2xl border-b-2 shadow"
    >
      AWARDS
    </h2>

    <span class="fas fa-trophy text-4xl"></span>
    <p>
      Proud member of Citrus Harmony, a 2021 TadHack Orlando Winner team!
      <a
        href="https://blog.tadhack.com/2021/10/06/review-of-citrus-harmony/"
        target="_blank"
        class="underline font-bold hover:text-cg-blue"
        >Read the article here.</a
      >
    </p>
  </section>

  <section id="hire-me" class="text-raisin-black text-center mb-4">
    <h2
      class="w-max mx-auto p-3 mb-8 text-raisin-black text-2xl border-b-2 shadow"
    >
      HIRE ME
    </h2>
    <a
      href="./static/file/resume-2022.pdf"
      target="_blank"
      class="hover:text-cg-blue hover:underline font-semibold"
      >Download Resume
      <span class="fas fa-file-download"></span>
    </a>
    <a
      href="mailto:williams.kyleg@gmail.com"
      class="block hover:text-cg-blue hover:underline font-semibold"
      >williams.kyleg@gmail.com</a
    >
  </section>
</div>
